@page
@model ValasztasWebApp.Pages.JelölekKeruletenkentModel

@{
    ViewData["Title"] = "JelölekKeruletenkent";
}

<h1>JelölekKeruletenkent</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<p>
    <form method="get">
        <select asp-for="@Model.KijeloltKerulet">
            <option value="0">--- Válassz kerületet! ---</option>
            @foreach(var kerulet in Model.Keruletek)
            {
                <option value="@kerulet">@kerulet. kerület</option>
            })
        </select>
        <input type="submit" name="submit" value="Szűrés" />
    </form>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jelolt[0].Kerulet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jelolt[0].Szavazat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jelolt[0].Nev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jelolt[0].Part)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Jelolt) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kerulet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Szavazat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Part)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
